{% block body %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <style>
            body {
                background: #f5f6fa;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            .screen {
                background: #fff;
                padding: 40px 35px;
                border-radius: 12px;
                box-shadow: 0 10px 30px rgba(0,0,0,0.08);
                width: 400px;
                margin: 50px auto;
            }
            .login_submit {
                width: 100%;
                margin-top: 15px;
            }
            .back-button {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                background: #3498db; /* bleu */
                color: #fff;
                font-size: 20px;
                font-weight: bold;
                text-decoration: none;
                border-radius: 8px;
                box-shadow: 0 2px 6px rgba(0,0,0,0.2);
                transition: background 0.2s;
                margin: 1% 0 0 1%;
            }

            .back-button:hover {
                background: #2980b9;
            }

        </style>
    {% endblock %}
    <a href="{{ app.request.headers.get('referer') ?: path('app_home') }}" class="back-button">&#8592;</a>

    <div class="screen">
        <h2 class="text-center mb-4">Register</h2>

        {{ form_start(registrationForm) }}

        <div class="mb-3">
            {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.lastName) }}
        </div>

        {{ form_row(registrationForm.email) }}
        <div class="mb-3">
            {{ form_row(registrationForm.plainPassword.first) }}
            {{ form_row(registrationForm.plainPassword.second) }}
        </div>

        <div class="mb-3">
{#            {{ form_label(registrationForm.role) }}#}
{#            {{ form_widget(registrationForm.role) }}#}
        </div>

        <button class="btn btn-primary login_submit" type="submit">Register</button>

        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
