{% extends 'base.html.twig' %}

{% block title %}Espace Étudiant{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div id="react-student-app" data-user-id="{{ app.user ? app.user.id : '' }}"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('student_app') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('student_app') }}
{% endblock %}